body {
  color: #fff;
  background-color: #0f1116;
  margin: 20px;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif
}

#hero {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  display: flex
}

#links {
  text-align: left;
  color: #fff;
  flex-direction: column;
  width: 400px;
  font-size: x-large;
  display: flex
}

#links a {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  text-decoration: none
}

#links a:hover {
  cursor: pointer;
  background-color: #1f1f1f
}

#header {
  max-width: 1200px
}

#navbar {
  flex-direction: row;
  display: flex
}

#navbar a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
  transition: color .2s
}

#navbar a:hover {
  cursor: pointer;
  color: #91a4d2
}

#blog {
  margin-top: 50px
}

#blog a {
  color: #fff;
  margin-top: 50px
}

#echo {
  background-color: #1e222d;
  border-radius: 10px;
  width: 360px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px
}

#echo>h4 {
  margin: 0 0 15px
}

#echo>input {
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  width: 100%;
  padding: 0 0 5px;
  transition: border-bottom-color .2s;
  display: block
}

#echo>input:focus {
  border-bottom-color: #6d85c6
}

#echo>p {
  margin: 20px 0 0 auto
}

.card_result {
  width: 200px
}

.card_result button {
  margin: auto;
}

.card_result_img {
  width: 100%;
  border: 3px solid #000;
  border-radius: 10px;
}

.results {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  display: grid
}

.search-box {
  align-items: center;
  gap: 12px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-bottom: 20px;
}

.search-box.home {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 50vh;
}

.search-box.top {
  flex-direction: row;
  /* padding-bottom: 10px; */
}

.search-box.top input[type=text] {
  flex: 1
}

.search-box input[type=text] {
  height: 30px
}

.search-box.top img {
  max-width: 150px;
  height: auto;
  margin: auto
}

.search-box.home img {
  max-width: 300px;
  height: auto;
  margin: auto auto 0
}

.card_details {
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  padding-top: 10px;
  display: flex;
}

.card_details_text {
  background-color: #222239;
  padding: 0 16px
}

.instructions {
  margin: 10px auto 0 auto;
  color: #161511;
  background-color: #fcfbf4;
  padding: 5px 5% 10px 5%;
}

.instructions p {
  font-size: 13pt;
}

.dark h1 {
  color: #aaffff;
  font-size: 30px;
}

.dark h2 {
  color: #ccffff;
}

.dark a:link {
  text-decoration: underline solid;
  font-weight: bold;
  color: #cefeac;
}

.dark a:visited {
  font-weight: bold;
  color: #a6d9a9;
}

.dark a:hover {
  color: #c9daac;
}

.dark {
  background-color: #102a2a;
  color: #f2f5ff;
}

.side {
  float: left;
  width: 30%;
  padding: 10px;
  margin-right: 15px;
}

.stories li {
  padding-bottom: 10px;
}

@media (min-width:600px) {
  .card_details {
    flex-direction: row;
    align-items: stretch
  }

  .card_details_img {
    flex-shrink: 0;
    max-width: 300px
  }

  .card_details_text {
    flex-direction: column;
    flex: 1;
    display: flex
  }
}

@media (min-width:800px) {
  .card_details {
    flex-direction: row;
    align-items: stretch;
    width: 80%
  }

  .search-box.home {
    width: 70%;
  }

  .instructions {
    width: 80%;
    padding: 20px 10% 10px 10%;
  }
}

@media (min-width:1200px) {
  .card_details {
    flex-direction: row;
    align-items: stretch;
    width: 60%
  }

  .instructions {
    width: 50%;
  }
}

.card_details_img {
  width: 100%;
  height: auto;
  display: block
}

.bottom {
  margin-top: auto;
  padding-bottom: 10px
}

.flavor-line {
  font-style: italic
}

hr {
  color: #f0f8ff;
  width: 100%
}

.card_details_text p {
  margin-top: 5px;
  margin-bottom: 5px
}

.card_details_text h2 {
  margin-bottom: 10px
}

#logo.small {
  display: none
}

#logo.large {
  display: block
}

@media (max-width:550px) {
  #logo.large {
    display: none
  }

  #logo.small {
    width: 30px;
    margin: auto;
    display: block
  }

  #logo img {
    width: 100%;
  }
}

a.hemolink:link {
  color: #fcd305;
  font-weight: bold;
  text-decoration: none;
  background-color: #774d15;
  padding: 1px 6px 1px 6px;
  /* margin: -1px -6px -1px -6px; */
  border-radius: 3px;
}

a.hemolink:visited {
  color: #fcd305;
  font-weight: bold;
  text-decoration: none;
  background-color: #774d15;
  padding: 1px 6px 1px 6px;
  /* margin: -1px -3px -1px -3px; */
  border-radius: 3px;
}

a.hemolink:hover {
  color: #fce885;
  background-color: #91671e;
}

.horizontal a:not(:last-child) {
  margin-right: 10px;
}

.horizontal a:link {
  font-weight: bold;
  text-decoration: none;
  color: #d9eafc;
  background-color: #525a8e;
  padding: 3px 5px 3px 5px;
  border-radius: 3px;
}

.horizontal a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #d9eafc;
  background-color: #525a8e;
  padding: 3px 5px 3px 5px;
  border-radius: 3px;
}

.horizontal a:hover {
  color: #f4fafc;
  background-color: #727aaf;
}

.horizontal.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  color: #f2f2f2;
  background-color: #5d636d;
  padding: 3px 5px 3px 5px;
  border-radius: 3px;
}

table td,
table th {
  padding: 3px;
}

table {
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid black;
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

.instructions h2 {
  margin-top: 0px;
}

.instructions hr {
  margin-top: 20px;
}

.card_change {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 0 0 100%;
}

.card_change_title {
  margin: 0 auto 0 auto;
  font-weight: bold;
  font-size: 30px;
}

.change_list {
  margin-top: 30%;
  display: flex;
  overflow: scroll;
  flex-flow: row;
  scrollbar-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.change_list::-webkit-scrollbar {
  display: none;
}

@media (max-width:550px) {
  .change_list {
    margin: auto;
    width: 90%;
    margin-top: 30%;
    display: flex;
    overflow: show;
    flex-flow: column;
    scrollbar-color: rgba(0, 0, 0, 0);
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}