name: Build Dioxus Web App

on:
  workflow_dispatch:
  push:
    branches: [master]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

          
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with: 
          targets: wasm32-unknown-unknown
          
      - uses: brndnmtthws/rust-action-cargo-binstall@v1
        with:
          packages: dioxus-cli
          force: true
          
        
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "build"

      - name: Bundle the app
        run: dx bundle --platform web --profile wasm-release

      - name: Upload bundle artifact
        uses: actions/upload-artifact@v4
        with:
          name: dioxus-web-bundle
          path: dist/
          
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          
      - name: Stop systemctl service
        run: |
          ssh -o StrictHostKeyChecking=no root@hemolymph.net "sudo systemctl stop hemolymph"
          
      - name: Push dist
        run: |
          rsync -avz --delete \
          -e "ssh -o StrictHostKeyChecking=no" \
          ./dist/* root@hemolymph.net:/home/server2
          
      - name: Re-enable server
        run: |
          ssh -o StrictHostKeyChecking=no root@hemolymph.net "/root/reserver.sh"
